body {
    background: black;
}

.main-banner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 20px auto;
    box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.1);
}

.main-page {
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 10px auto;

}

.main-page .post {
    margin-bottom: 25px;
    background: rgba(255, 2555, 255, 0.01);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.1);
    color: aliceblue;
}

.navigator {
    background: rgba(245, 229, 27, 0.9);
    margin-right: 20px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.1);
}

.auth-page {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    color: aliceblue;
}

.login-controller {
    float: none;
    margin: 0 auto;
}

.login-controller span {
    padding: 10px;
}

.reg-auth-forms {
    width: 400px;
    margin: 10px auto;
}

#switch-register:hover {
    color: yellow;
    cursor: pointer;
}

#switch-auth:hover {
    color: yellow;
    cursor: pointer;
}

.profile {
    color: aliceblue;
}

.profile-iamge {
    max-width: 100%;
    height: auto;
}

.profile .is-readonly .btn-save{
    display: none;
}

.profile .is-readonly .btn-edit{
    color: red;
}

.profile .is-readonly input, .profile .is-readonly textarea {
    cursor: text;
    background-color: black;
    border-color: transparent;
    outline-color: transparent;
    box-shadow: none;
    color: aliceblue;
    text-align: left;

}

.profile .is-editing .btn-edit{
    display: none;
}
.profile .btn-save{
    color: red;
}
.profile .new-image .is-readonly{
    display: none;
}

.profile .new-image .is-editing{
    display: none;
}
.main-exploration{
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 10px auto;
}
.main-exploration .post, .new-comment, .comment, .new-post {
    margin-bottom: 25px;
    background: rgba(255, 2555, 255, 0.01);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.1);
    color: aliceblue;
    font-size: 30px;
}
.main-exploration .user-name{
    font-size: 30px;
}
.main-exploration .create-date{
    color: yellow;
    font-size: 20px;
}
.main-exploration .post-content{
    font-style: italic;
    font-size: 20px;
}

.main-exploration .user-image{
    max-width:120px;
    max-height: 120px;
    float: left;
    margin-right: 10px;
}

.single-sub {
    margin-bottom: 25px;
    background: rgba(255, 2555, 255, 0.01);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.1);
    color: aliceblue;
}

.main-page .sub-image {
    max-width:180px;
    max-height: 120px;
    float: left;
    margin-right: 20px;
    border-radius: inherit;
}

.main-page .sub-name{
    font-size: 50px;
    vertical-align: central;
}